<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>404 Page not found!</title>
        <style>
        h1{
            width: 100%;
            text-align: center;
            font-size: 10em;
            margin: 0;
        }
        p{
            width: 100%;
            text-align: center;
        }
        </style>
    </head>
    <body>
        <h1>404</h1>
        <p>Sorry, we can not find what you are looking for.<p/>
    </body>
</html>
